{% extends "layout/base.html" %}

{% load static %} <!-- Add this line to load static files -->


{% block title %} Home {% endblock %}


{% block content %}
<!-- <img src="{% static 'uploads/g.jpg'%}" alt="Desc" width="20" height="20"> -->
<!-- <img src="{% static 'uploads/dj.png'%}" alt="Desc" width="1020" height="520"> -->
<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden; /* Prevents scrolling */
    }
    .full-screen-image {
        position: absolute;
        top: 8%;
        left: 0;
        width: 100vw; /* Viewport width */
        height: 90vh; /* Viewport height */
        object-fit: cover; /* Ensure the image covers the entire area */
        overflow: hidden;
        z-index: -1; /* Optional: ensures the image is behind other content */
    }
</style>


<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<img src="{% static 'uploads/dj.png' %}" alt="Desc" class="full-screen-image">

<!-- <h1>Welcome to the Home Page</h1> -->
<!-- <p>This is the home page content.</p> -->
{% endblock %}
